



<div class="container">

    <div row>
        <div class="col-3 mb-3">



            <ul class="dropdown-menu d-block position-static mx-0 shadow w-220px" data-bs-theme="light">
                <li>
                    <a class="dropdown-item d-flex gap-2 align-items-center" href="https://www.linkedin.com/in/aerenkrdnz/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                        Linkedin
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex gap-2 align-items-center" href="https://github.com/aerenkrdnz " target="_blank">
                        <i class="fa-brands fa-github"></i>
                        Github
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex gap-2 align-items-center" href="mailto:aerenkrdnz@gmail.com" target="_blank">
                        <i class="fa-solid fa-envelope"></i>
                        Mail Gönder
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex gap-2 align-items-center" href="https://acrobat.adobe.com/id/urn:aaid:sc:AP:ee1fc75a-6b30-4fa3-965f-63adbd766d8f" target="_blank">
                        <i class="fa-solid fa-file"></i>
                        Özgeçmişi Görüntüle
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>