
<div class="container">
    <div class="row">

        <div class="col-3 mb-3">

            <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
                <li><a asp-controller="" asp-action="" class="dropdown-item rounded-2 active">Ana Sayfa </a></li>
                <li><a asp-controller="Category" asp-action="List" class="dropdown-item rounded-2">Kategoriler</a></li>
                <li><a asp-controller="Blog" asp-action="List" class="dropdown-item rounded-2">Bloglar</a></li>

            </ul>
        </div>
    </div>
</div>